EXPO_PUBLIC_WEB_URL=http://YOUR_MAC_LAN_IP:5173
VITE_BASE_URL=http://YOUR_SERVER_URL
VITE_REST_API_KEY=YOUR_KAKAO_API_KEY
VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
VITE_APPLE_CLIENT_ID=YOUR_APPLE_CLIENT_ID
VITE_KAKAO_REDIRECT_URI=YOUR_KAKAO_REDIRECT_URI
VITE_GOOGLE_REDIRECT_URI=YOUR_GOOGLE_REDIRECT_URI
VITE_APPLE_REDIRECT_URI=YOUR_APPLE_REDIRECT_URI
