EXPO_PUBLIC_WEB_URL=http://YOUR_MAC_LAN_IP:5173
EXPO_PUBLIC_API_BASE_URL=https://YOUR_API_SERVER
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=YOUR_GOOGLE_WEB_CLIENT_ID
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=YOUR_GOOGLE_IOS_CLIENT_ID
GOOGLE_IOS_URL_SCHEME=YOUR_GOOGLE_IOS_REVERSED_CLIENT_ID
KAKAO_NATIVE_APP_KEY=YOUR_KAKAO_NATIVE_APP_KEY
